{% extends 'base.html' %}
{% load static %}
{% block content %}

    <section class="banner_area">
        <div class="box_1620">
            <div class="banner_inner d-flex align-items-center">
                <div class="container">
                    <div class="banner_content text-center">
                        {% if redirected == True %}
                        <h2>Contact</h2>
                        {% elif redirected == False %}
                        <h2>Contact</h2>
                        {% endif %}
                        <div class="page_link">
                            <a href="{% url 'index' %}">Home</a>
                            <a href="">Contact</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="contact_area p_120">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="contact_info">
                        <div class="info_item">
                            <i class="lnr lnr-home"></i>
                            <h6>{{ me.address }}</h6>
                            <p>Current Residence Place</p>
                        </div>
                        <div class="info_item">
                            <i class="lnr lnr-phone-handset"></i>
                            <h6><a href="tel:{{ me.phone_number }}">{{ me.phone_number }}</a></h6>
                            <p>Personal Phone Number</p>
                        </div>
                        <div class="info_item">
                            <i class="lnr lnr-envelope"></i>
                            <h6><a href="mailto:{{ me.email }}"><span class="__cf_email__"
                                                                      data-cfemail="cab9bfbabaa5b8be8aa9a5a6a5b8a6a3a8e4a9a5a7">{{ me.email }}</span></a>
                            </h6>
                            <p>Personal Email Address</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <form class="row contact_form"
                          action="/success/" method="post"
                          id="contactForm" novalidate="novalidate">
                        {% csrf_token %}
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="name" name="name"
                                       placeholder="Enter your name">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" id="email" name="email"
                                       placeholder="Enter email address">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="subject" name="subject"
                                       placeholder="Enter Subject">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <textarea class="form-control" name="message" id="message" rows="1"
                                          placeholder="Enter Message"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12 text-right">
                            <button type="submit" value="submit" class="btn submit_btn">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}